@import"./reset.css";

/* FONTE GERAL */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --cor-fundo-1: #C37E30;
    --cor-fundo-2: #BBCEC0;
    --cor-fundo-3: #611546;
    --cor-fundo-4: #305955;
    --cor-fundo-5: #192744;

    --cor-fonte-1: #EEEEEE;
    --cor-fonte-2: #222222;
}
/* =================================================== HEADER */
.cabecalho {
    padding: .5rem;
    padding-top: 1.5rem;
    background-color: var(--cor-fundo-5);
}
.menuNavegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
/* ========================================= HEADER - CONTEUDO DENTRO */
.linkLogoCorvoHeader {
    display: flex;
    align-items: end;
    text-decoration: none;
    gap: .8rem;
    transition: 0.2s;
}
/* estilizando a logo do site */
.imgLogoCorvo {
    height: 2rem;
    -webkit-filter: drop-shadow(3px 3px 3px var(--cor-fonte-1));
    filter: drop-shadow(2px 2px 2px var(--cor-fonte-1));
}
.linkLogoCorvoHeader h1{
    color: var(--cor-fonte-1);
    font-size: 100%;
}
.linkBotaoHeader {
    background-color: var(--cor-fundo-1);
    color: var(--cor-fonte-1);   
    transition: 0.2s;
}
.linkBotaoHeader:hover {  
    background-color: var(--cor-fundo-1);
    transform: scale(1.05);
}



/* estilizando o footer */
/* footer {
    display: flex;
    justify-content: space-between;
    background-color: #002147;
} */

/* .imgBandeira {
    margin: 0.7%;
    margin-right: 2%;
    height: 3%;
    width: 3%;
} */

/* .textoDoRodape {
    font-size: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 37%;
    color: white;
} */